.heading {
    top: -10px;
    font-weight: bold;
  }
  
   .input {
    width: 100px;
    margin-right: 20px;
  } 
  
  .dropdown {
    width: 160px;
    height: 40px;
    margin-left: 30px;
  } 
  
  .custom-datatable {
    width: 100%;
    margin-bottom: -20px;
  }
  
  .wholecontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .float{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .product-name {
    margin-left: 10px;
  }
  
  .p-datatable thead tr th {
    color: rgb(151, 156, 156);
    left: 20px;
  }

  @media (max-width: 767px) {
  
    .float{
      float: right;
      margin-top: 10px;
      margin-right: 10px;
    }
    
  }